<div id="overlay">
    <div>
        <a class="boxclose" id="boxclose" onclick="overlay()"></a>
        <p class="margin">
            <span>Size: </span>
            <input class="embed_size" type="text" name="width" value="800" id="embed-size-width" />
            <span> x </span>
            <input class="embed_size" type="text" name="height" value="400" id="embed-size-height" />
        </p>
        <p class="margin">
            <input class="embed_url" type="text" name="embedHtml"
                   value="&lt;iframe src=&quot;http://mimoza.bordeaux.inria.fr/{{map_id}}/comp_min.html&quot; width=&quot;800&quot; height=&quot;400&quot; frameborder=&quot;0&quot; style=&quot;border:0&quot;&gt;&lt;/iframe&gt;"
                   id="embed-html-snippet" />
        </p>
        <input type="hidden" name="url" value="http://mimoza.bordeaux.inria.fr/{{map_id}}/comp_min.html" id="embed-url"/>
    </div>
</div>
<p id="download">Download the <a href={{groups_sbml_url}} download>generalized model</a>.</p>
<p>Download everything as a <a href={{archive_url}} download>COMBINE archive</a>.</p>
<p>Embed the <a onclick="overlay()" href="#">Mimoza view</a> into your page</p>