Content-Type: text/html;charset=utf-8
Location: comp.html


<html lang="en">
    <head>
        <link media="all" href="lib/modelmap/modelmap.min.css" type="text/css" rel="stylesheet" />
        <link href="lib/modelmap/fav.ico" type="image/x-icon" rel="shortcut icon" />
        <meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate" />
        <meta http-equiv="Pragma" content="no-cache" />
        <meta http-equiv="Expires" content="0" />
        <meta http-equiv="refresh" content="0;url=comp.html" />
        <title>Redirecting...</title>
    </head>

    <body>
        <div class="indent" id="all">
            <p>Redirecting to <a href="tabbed_page.html">comp.html</a></p>
        </div>
    </body>
</html>